@media (min-width: 365px) and (max-width: 767px) {
  .wrap {
    /* min-width: auto; */
  }

  .top-header {
    display: none;
  }

  .main-header .gnb {
    display: none;
  }

  .popup .up-item {
    display: none;
  }

  .header {
    width: 100vw;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  .main-header .logo a {
    margin: 0;
  }

  .main-header .logo a img {
    width: 130px;
  }

  .main-header .menu-btn {
    display: block;
  }

  .main-header .menu-btn .menu-btn-wrap {
    width: 28px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .main-header .menu-btn .menu-btn-wrap span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: white;
  }

  /* intro-banner */
  .intro-banner {
    width: 100%;
    height: 100%;
  }

  .video-frame {
    width: 100%;
    background: url("../image/video-img.jpg") no-repeat bottom center;
    background-size: cover;
  }

  .video-frame video {
    display: none;
  }

  .video-frame::after {
    opacity: 0.6;
  }

  .intro-title {
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .intro-title h2 {
    font-size: 16px;
  }

  .intro-title h2 strong {
    font-size: 38px;
    margin-top: 10px;
  }

  .intro-icon {
    display: none;
  }

  .information {
    height: 30%;
  }

  .information .slider-banner {
    width: 100%;
    height: 100%;
  }

  .information .slider-banner .title {
    display: none;
  }
  .information .slider-banner .slider-items {
    width: 100%;
  }

  .information .login-banner {
    display: none;
  }

  .menu-pick {
    height: 60vh;
    padding: 0 0 50px 0;
  }
  .menu-pick .container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .menu-pick .container .title {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .menu-pick .container .title h2 {
    font-size: 70px;
    margin: 50px 0 20px;
    justify-content: center;
  }
  .hollys-event .title .btn-box,
  .product-item .item .desc span,
  .product-item .item .desc p,
  .product-item .item .title h2,
  .menu-btn-item .btn-item h3 span,
  .menu-pick .container .title h3 span,
  .menu-pick .container .menu-slider,
  .menu-pick .container .title h2 .btn-box {
    display: none;
  }

  .menu-pick .container .title h3 {
    font-size: 65px;
    justify-content: center;
    text-transform: uppercase;
  }

  .menu-btn-item {
    padding: 0 2px;
    width: 100%;
    justify-content: space-between;
  }
  .menu-btn-item .btn-item {
    width: 23%;
    overflow: hidden;
    padding: 0;
    flex-wrap: wrap;
  }

  .menu-btn-item .btn-item img {
    width: 80px;
    height: 80px;
    transform: scale(1.3);
  }

  .menu-btn-item .btn-item:nth-child(4) img {
    transform: scale(1);
  }

  .menu-btn-item .btn-item h3 {
    width: 90%;
    font-size: 11.5px;
  }

  .menu-btn-item .btn-item.active {
    background: none;
  }

  .product-menu {
    padding: 100px 0;
  }

  .product-menu .inner {
    width: 95vw;
    height: 60vh;
  }

  .product-item .item .desc h2 {
    font-size: 14px;
  }

  .product-item .item .title strong {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .product-item .item .title span {
    font-size: 12px;
  }

  .hollys-event {
    padding: 50px 0;
  }

  .hollys-event .title {
    justify-content: center;
  }

  .event-items {
    flex-direction: column;
  }

  .event-items .item {
    width: 100%;
    height: 160px;
  }
  .event-items .item.E2 {
    margin: 10px 0;
  }
  .event-items .item.E1 .image img:nth-child(2),
  .event-items .item.E2 .image img,
  .event-items .item.E3 .image img:nth-child(3) {
    display: none;
  }

  .event-items .item.E1 .desc .title-box,
  .event-items .item.E2 .desc .title-box {
    width: 50%;
    margin-top: 10px;
  }
  .event-items .item.E1 .desc .title-box span,
  .event-items .item.E2 .desc .title-box span {
    padding: 10px 0;
    font-size: 14px;
  }

  .event-items .item.E1 .desc h2,
  .event-items .item.E2 .desc h2,
  .event-items .item.E3 .desc h2 {
    font-size: 26px;
  }
  .event-items .item.E1 .desc strong,
  .event-items .item.E2 .desc strong,
  .event-items .item.E3 .desc h2 strong {
    font-size: 18px;
  }

  .event-items .item.E3 .image img:nth-child(1) {
    width: 100%;
  }
  .event-items .item.E3 .image img:nth-child(2) {
    width: 30%;
  }
  .event-items .item.E3 .desc {
    top: 40%;
  }

  .rolling {
    height: 35vh;
  }
  .rolling-img {
    width: 30%;
    top: 0;
  }

  .rolling-img img {
    width: 100%;
  }
  .rolling .bottom-bg {
    display: none;
  }

  .sns .inner {
    margin-bottom: 50px;
  }

  .sns-txt h2 {
    font-size: 24px;
  }

  .sns-imgbox .sns-img {
    flex-wrap: wrap;
    margin: 0;
  }

  .sns-imgbox .sns-img:nth-child(2) {
    display: none;
  }

  .sns-imgbox .sns-img li {
    width: 33%;
  }

  .sns-imgbox .sns-img li img:hover {
    transform: none;
    transition: none;
    opacity: 1;
  }

  .sns-imgbox .sns-img li img {
    width: 100%;
    opacity: 1;
  }

  .franchise {
    padding: 12vh 0;
    height: 650px;
  }
  .franchise::after {
    height: 100%;
  }
  .franchise .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .franchise .title h2 {
    width: 79%;
    font-size: 28px;
  }
  .franchise .title p {
    width: 86%;
    font-size: 14px;
    line-height: 1.4;
  }
  .franchise-btn {
    flex-direction: column;
  }
  .franchise-btn .btn-box {
    width: 100%;
  }
  .franchise-btn .btn-box:nth-child(1) {
    margin-bottom: 10px;
  }

  .franchise-btn .btn-box a {
    font-size: 14px;
  }
  .notice {
    height: 0;
    background: none;
    flex-direction: column;
  }
  .notice::after {
    display: none;
  }
  .notice .title-box {
    display: none;
  }
  .notice-items {
    width: 100%;
    padding: 50px 0;
  }

  .notice-items .desc {
    width: 100%;
    justify-content: center;
  }
  .notice-items .desc h2 {
    margin-right: 20px;
    font-size: 26px;
  }
  .notice-items .item {
    width: 65%;
  }
  .notice-items .item {
    text-align: center;
  }
  .notice-items .item:nth-child(2) {
    margin: 40px 0 10px;
    padding-bottom: 11px;
    border-bottom: 1px solid rgb(186, 186, 186);
  }

  .notice-items .item h2 {
    font-size: 14px;
  }
  .notice-items .item p {
    font-size: 12px;
  }
  .notice-items .desc .btn-box,
  .store-items .title .btn-box {
    width: 25px;
    height: 25px;
  }

  .notice-items .desc .btn-box a,
  .store-items .title .btn-box a {
    font-size: 10px;
  }
  .store-items {
    width: 100%;
    height: 200px;
    padding: 50px 0;
  }
  .store-items::after {
    /* display: none; */
  }
  .store-items .title {
    margin-left: 20px;
  }
  .store-items .title h2 {
    font-size: 22px;
  }
  .store-items .title p {
    font-size: 22px;
    margin: 0 0 20px;
  }
  .footer {
    margin-top: 90px;
  }
}
